@model LMS.Models.IdentifyingAreasModel

@{
    ViewData["Title"] = "Identifying Areas";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var levelData = ViewBag.Levels;

}

@if (Model.Mode.Equals("Call Numbers to Description"))
{
    <h1 class="page-headings">Match The Call Numbers to the Descriptions.</h1>
    <h4 style="color: #457EAC; margin-top: 1rem;text-align:center;">Drag the boxes on the right up or down to match the position of the boxes on the left.</h4>
}else{
    <h1 class="page-headings">Match The Descriptions to the Call Numbers.</h1>
    <h4 style="color: #457EAC; margin-top: 1rem;text-align:center;">Drag the boxes on the left up or down to match the position of the boxes on the right.</h4>
}

<div class="d-flex level-info-container">
    <select class="custom-select" id="level-select">
        <option value="Beginner">Beginner</option>
        <option value="Intermediate">Intermediate</option>
        <option value="Challenger">Challenger</option>
        <option value="Expert">Expert</option>
    </select>

    <button id="info" type="button" class="info-btn" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-container="body" data-bs-title="How to play">ℹ️</button>

    <div style="text-align:center; margin: auto 0rem;">
        <button id="start-btn">Start</button>
    </div>

    <div id="timer-container" class="countdown">
        <span id="timer"></span>
    </div>

</div>


<div class="lists-container">
    @if (Model.Mode.Equals("Call Numbers to Description"))
    {
        <ul id="leftlist" class="list-group horizontal-list" style="margin-right: 5rem;margin-top: 1.5rem;">
            @foreach (var callNumber in Model.Areas.Keys)
            {
                <li class="left-list-item list-group-item">@callNumber</li>
            }
        </ul>

        <ul id="areas-list" class="description-list list-group horizontal-list" aria-label="Books in this category answer this question." style="margin-top:0rem!important;">
            @foreach (var description in Model.Areas.Values)
            {
                <li class="right-list-item list-group-item" draggable="true">@description</li>
            }

            @foreach (var extra in Model.Extras)
            {
                <li class="right-list-item list-group-item" draggable="true">@extra</li>
            }
        </ul>
    }else
    {
        <ul id="areas-list" class="list-group horizontal-list" style="margin-right: 5rem;margin-top:1.5rem;">
            @foreach (var callNumber in Model.Areas.Keys)
            {
                <li class="left-list-item list-group-item" draggable="true">@callNumber</li>
            }

            @foreach (var extra in Model.Extras)
            {
                <li class="left-list-item list-group-item">@extra</li>
            }
        </ul>

        <ul id="right-list" class="description-list list-group horizontal-list" aria-label="Books in this category answer this question.">
            @foreach (var description in Model.Areas.Values)
            {
                <li class="right-list-item list-group-item" >@description</li>
            }     
        </ul>

    }

</div>

<div class="d-flex" style="justify-content: end;">
    <button id="check-submit-button">Check</button>
</div>

<div id="result-modal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header" style="border: none;">
                <h5 id="outcome" class="modal-title">Modal title</h5>
                <button id="close-modal1" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer" style="border: none;">
                <button id="close-modal2" type="button" class="close-btn" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script>
    // Get the levels from the ViewBag and parse them as JSON
    var levels = @Html.Raw(Json.Serialize(levelData));
    var mode = @Html.Raw(Json.Serialize(Model.Mode));
</script>
<script src="~/js/IdentifyingAreas.js"></script>